@import "/src/styles/Variables/Variables.scss";

.exportpdfbtn{
    float: right;
    width: 120px;
    border: none;
    background-color: $primary-btncolor;
    color: white;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    font-family:  $sffont-regular;
    margin-right: 10px;
    margin-bottom: 10px;

    &:hover{
        background-color: $secondary-btncolor;
    }
}


@media only screen and (max-width: 768px) {
    .exportpdfbtn{
        float: left;
    }
}
