
@import "../../styles/Variables/Variables.scss";


.loginleftbg{
  height: 100vh;
  position: relative;
  background: url(../../assets/loginbg.jpg);
  background-size:contain;
}
.leftcontent{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.lefttext{
     width: 600px;
    text-align: center;
    font-size: 50px;
    color: #000;
    font-family: $sffont-medium;
    font-weight: 600;
}

.leftpara{
    color: rgb(71, 71, 71);
    font-size: 24px;
    text-align: center;
}

.loginimage{
  width: 80%;;
  margin-top: 20%;
  margin-left: 8%;
}

.loginrightbg{
  background-color: $white-color;
  height: 100vh;
}

.logodiv{
  display: flex;
  margin-top: 20%;
}

.logo{
  width: 100px;
  margin-left: -2px;
  margin-bottom: 30px;
}

.loginbg{
  margin-top: 5%;
}

.forgotpwtext{
  color: $black-color;
  font-size: 20px;
  text-align: left;
  font-family: $sffont-medium;
  letter-spacing: 0px;
  margin-bottom: 20px;
}

.pwbg{
  height: 100vh;
}
.pwform{
   text-align: left;
}
.labeltext{
  color: $black-color;
  font-size: 14px;
  font-weight: 500;
  font-family: $sffont-medium;
  margin-bottom: 5px;
}
.emailbox{
  padding: 5px 10px 10px 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #dde2eb63;
}

.card{
  width: 400px;
  display: inline-block !important;
  margin-top: 150px;
}

.cardbody{
  padding: 5%;
}

#continuebtn{
  background-color: $primary-btncolor;
  font-size: 16px;
  width: 100%;
  text-transform: none;
  padding: 12px;
  border-radius: 10px;
  font-family: $sffont-regular;
  border: none;
  color: $white-color;

    &:hover{
      background-color: $secondary-btncolor;
    }
}

.login_linksection{
  margin: 10px;
  text-align: right;

  .login_link{
    text-decoration: none;
    font-size: 14px;
    font-family: $sffont-regular;

    &:hover{
      color: $primary-btncolor;
    }
  }
}





@media only screen and (max-width: 1200px) {
  .loginimage{
    margin-top: 32%;
  }
  .lefttext{
    width: 400px;
    font-size: 40px;
  }
}

@media only screen and (max-width: 992px) {
  .loginimage{
    margin-top: 45%;
  }
  .lefttext{
    font-size: 28px;
    width: 300px;
}

.leftpara{
    font-size: 16px;
}
}

@media only screen and (max-width: 840px) {
  .loginimage{
    margin-top: 58%;
  }
  .lefttext{
    font-size: 24px;
    width: 250px;
}

  .leftpara{
      font-size: 14px;
  }
}

@media only screen and (max-width: 740px) {
  .loginimage{
    margin-top: 65%;
  }
}
@media only screen and (max-width: 678px) {
  .loginimage{
    margin-top: 73%;
  }
}


@media only screen and (max-width: 576px) {
  .loginleftbg{
   display: none;
  }

}
