
 @import "../../styles/Variables/Variables.scss";
  
  
  .loginleftbg{
    background-color: $lightthemecolor;
    height: 100vh;
  }
  
  .loginimage{
    width: 80%;;
    margin-top: 20%;
    margin-left: 8%;
  }

  .loginrightbg{
    background-color: $white-color;
    height: 100vh;
  }
  
  .logodiv{
    display: flex;
    margin-top: 20%;
  }
  
  .logo{
    width: 100px;
    margin-left: -2px;
    margin-bottom: 20px;
  }
  
  .loginbg{
    margin-top: 5%;
  }
  
  .forgotpwtext{
    color: $black-color;
    font-size: 20px;
    text-align: left;
    font-family: $sffont-medium;
    letter-spacing: 0px;
    margin-bottom: 10px;
  }
  
  .pwbg{
    height: 100vh;
  }
  .pwform{
     text-align: left;
  }
  .labeltext{
    color: $black-color;
    font-size: 14px;
    font-weight: 500;
    font-family: $sffont-medium;
  }
  .emailbox{
    padding: 5px 10px 10px 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #dde2eb63;
  }
  
  .card{
    width: 400px;
    display: inline-block !important;
    margin-top: 150px;
  }
  
  .cardbody{
    padding: 5%;
  }
  
  #continuebtn{
    background-color: $primary-btncolor;
    font-size: 16px;
    width: 100%;
    text-transform: none;
    padding: 12px;
    border-radius: 10px;
    font-family: $sffont-regular;
    border: none;
    color: $white-color;

      &:hover{
        background-color: $secondary-btncolor;
      }
  }
  
  .eyeicon{
    margin-left: -30px;
    cursor: pointer;
  }
  
  
  
  
  @media only screen and (max-width: 1200px) {
    .loginimage{
      margin-top: 32%;
    }
  }
  
  @media only screen and (max-width: 992px) {
    .loginimage{
      margin-top: 45%;
    }
  }
  
  @media only screen and (max-width: 840px) {
    .loginimage{
      margin-top: 58%;
    }
  }
  
  @media only screen and (max-width: 740px) {
    .loginimage{
      margin-top: 65%;
    }
  }
  @media only screen and (max-width: 678px) {
    .loginimage{
      margin-top: 73%;
    }
  }
  
  
  @media only screen and (max-width: 576px) {
    .loginleftbg{
     display: none;
    }
  
  }
  